.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6c757d;
    padding: 10%;
}


header{
    background-color: rgb(124, 136, 146);
    padding: 60px;
    border: solid rgb(0, 0, 0) 0 0 10px 0 ;
    
}
header h4{
    position: absolute;
    top: 70px;
    right: 70px;
    width: 80px;
    height: auto;
    z-index: 1000;
    color: rgb(255, 255, 255);
}


#logo{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 16px;
    height: auto;
}
#img-lateral{
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

.formulario{
    display: flex;
    border: solid ;
    border-radius: 7px;
    background: linear-gradient(233deg, #2b2d42 9% 4%, #118aa0 100%)no-repeat 4% 100%/ 100% 100%;
    padding: 40px 100px 40px 100px; 
    margin: 50px;

}
.formulario input{
    padding: 7px;
    margin: 3px;
    border-radius: 5px;
    cursor: pointer;
}


#botao{
    margin: 0 0 0 60px;
}
#botao:hover{
    background-color: #2b2d42;
    color: aliceblue;
}

.logar{
    padding-right: 10px;
    margin-left: 40px;
}
