.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #6c757d;
    padding: 1%;
}

footer, header{
    background-color: aliceblue;
    width: 100%;
    padding: 10px auto 10px auto;
}

img{
    height: 300px;
    width: 300px;
}

.formulario{
    display: flex;
    border-radius: 10px;
    background-color:cadetblue;
    padding: 10px 100px 10px 10px;
}